body {
    background-color:#d3d3d31f;
}

nav li {
    display: inline;
}

nav a{
    text-transform: uppercase;
    color: rgb(255, 0, 255);
    background-color: #0931d2;
}

.texto-principal {
    margin-right: 20%;
}

h1 {
    color: #3b1c29;
    text-align: center;
}
h2 {
    color: rgb(65, 50, 234);
}
p {
    color: blue;

}
#imagem-principal {
    width: 10%;
    margin-left: 80%;
    border: 5px dotted salmon;
    float: left;
    position: absolute;
}

.itens {
    color:  #a05f92;
    text-decoration: underline;
}
.texto-principal {
    margin-right: 20%;
}
